body {
    background: linear-gradient()
}

#sidebar {
    position: fixed;
    top: 1vh;
    left: 1vh;
    bottom: 1vh;
    width: 10vh;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.14)
    transition: ease-in-out;
}

#sidebar:hover {
    position: fixed;
    top: 1vh;
    left: 1vh;
    bottom: 1vh;
    width: 20vh;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.14)
    transition: ease-in-out;
}