body {
    background-color: #1f1f1f;
    margin: auto;
}

#sidebar {
    position: fixed;
    top: 1vh; 
    left: 1vh;
    bottom: 1vh;
    width: 10vh; 
    height: 100vh; 
    background-color: #2d2f31;
    z-index: 1000;
}



#fragnichtwas {
    position: fixed;
    top: 2vh;
    left: 20vh;
    text-align: center;
    font-size: 80px;
    font-family: monospace;
    color: #e26f23;
}