body {
    background-color: #1f1f1f;
    margin: auto;
}

#sidebar {
    background-color: #2d2f31;
    min-height: 100vh;
    max-width: 10vh;
}

#sidebar-extend {
    background-color: #2d2f31;
    min-height: 100vh;
    max-width: 0;
}

#sidebar:hover + #sidebar-extend {
    max-width: 20vh;
}